:root{
    --pääväri-1: burlywood;
    --pääväri-2: rgb(207, 124, 64);
}
.col-left{
    background-image: url(mann-he.gif);
}
.col-center{
    background-color: rgb(207, 124, 64);
    border: 3px dotted black;
}
.col-right{
    background-image: url(he-mann.gif);
}
.header{
    border: 3px dotted black;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-image: repeating-linear-gradient(var(--pääväri-1), var(--pääväri-2));
}
#end{
    background-color: coral;
}
body{
    border: 3px dotted black;
    background-color: rgb(173, 56, 56);
}
.varjo{
    margin: 10px;
    padding: 10px; 
    box-shadow: 5px 10px 18px black;
}
.sides{
    font-weight: 400;
    font-size: medium;
    background-color: burlywood;
    border: 3px dotted black;
}